{% extends "Base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
Shop
{% endblock title_block %}

{% block body_block %}
{% if not shop.shop_created %}
<p>{{shop.shop_created}}</p>
<h1 class="text-center my-5">No Shops to show</h1>
<form method="post">
  {% csrf_token %}
  {{form|crispy}}
  <input type="submit" value="Create Shop" class="btn btn-outline-dark w-100 my-4">
</form>
{% else %}
<h1 class="text-center my-5">Shops</h1>
<div class="card w-100">
  <div class="card-header">
    <h3 class="my-3">{{shop.shop_title}}</h3>
  </div>
  <div class="card-body">
    <h4 class="card-text my-3">{{shop.shop_description}}</h4>
    <a href="{% url 'App_Shop:allproducts' %}" class="btn btn-warning btn-sm">Go To Store</a>
  </div>
  <div class="card-footer">
    <h5>Created At: {{shop.shop_date|date:"D d M Y"}}</h5></div>
</div>


{% endif %}
{% endblock body_block %}